.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
  
    .loader{
      width: 200px;
      height: 200px;
      border: 5px dotted black;
      border-radius: 50%;
      animation: spin 5s linear infinite;
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
}
