.button { 
    background: none; 
    border: none;
    cursor: pointer;
    max-width: 15em;
    height: 75%;
    background-color: brown;
    border: solid black 1px;
    border-radius: 30px;
    color: antiquewhite;
    font: 1em sans-serif;
    transition: 0.5s;
    font-size: 1vw;
    padding: 3px;
    margin: 5px;
 
    &:hover {
        color: black;
        background-color: rgb(251, 245, 226);
    }
}    

@media (max-width: 600px) {
    .button {
        padding: 1px;
        font-size: 10px;
    }
}