.button { 
    background: none; 
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: brown;
    border: solid black 1px;
    border-radius: 30px;
    color: antiquewhite;
    font: 1em sans-serif;
    transition: 0.5s;
 
    &:hover {
        color: black;
        background-color: rgb(251, 245, 226);
    }
}    