.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: antiquewhite;
    border-bottom: solid black 1px;

    .header-logo__link{
        all: unset;
        cursor: pointer;

        .header-logo__content{
            font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
        }
    }

    .header-buttons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}