.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat();
    grid-gap: 16px;
    justify-items: center;
    margin: 50px 100px 0px 100px;
}

.loader, 
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 35px;
}